*{box-sizing: border-box;}
@font-face {
  font-family: Leimzy;
  src: ./assets/Leimzy-Regular.otf;
}

p {
  color: grey;
   font-family: Leimzy;
  font-size: 10%;
  padding: 0%;
}

img {
float: left;
width: 100%;
align-content: center;
padding: 10px;
}

h2{
  font-family: Leimzy;
  text-align: center;
  font-size: 50pt;
  color: black;
}

body{
  margin:0;
  padding: 0;
  background-image: linear-gradient(#e6f936, #8efb31);
  color: gray;
  font-family: sans-serif;
  font-size: 10pt;
  padding: 0%;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #8efb31;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #e6f936;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: black;
}

.zoom{
  padding: 10px;
}
.zoom:hover {
  transform: scale(3);
}

  .orange{
    color: orange;
  }

  .green{
    color: #60bf2c;
  }

  .pink{
    color: c
  }

  .brown{
    color: #964B00
  }

  /* @keyframes spin {
    from{
    transform: rotateY(0deg);
    }
    to{
    transform: rotateY(360deg);
    }
  } */

.box9{
  width:15%;
  height:280px;
  top: 20%;
  background-image: linear-gradient(#e6f936, #8efb31);
  float: left;
    margin: 10px;
    outline-color: black;
    outline-style: solid;
    outline-width: 2px;
}

.eriebox{
  width:93.6%;
  height:100px;
  background-image: linear-gradient(#8efb31, #e6f936);
    margin: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    outline-color: black;
    outline-style: solid;
    outline-width: 2px;
}
.box1{
  width:93.6%;
  height:100px;
  background-image: linear-gradient(#e6f936, #8efb31);
    margin: 10px;
    outline-color: black;
    outline-style: solid;
    outline-width: 2px;
}


.box4{
  width: 38%;
  height: 100%;
  background-image: linear-gradient(#8efb31, #e6f936);
  float: left;
  margin: 10px;
  outline-color: black;
  outline-style: solid;
  outline-width: 2px;
  overflow: scroll;
}

.box7{
  width: 38%;
  height: 100%;
  background-image: linear-gradient(#e6f936, #8efb31);
  float: left;
  margin: 10px;
  outline-color: black;
  outline-style: solid;
  outline-width: 2px;
  overflow: scroll;
}

.mention{
  background-color: black;
  color: green;
  font-family: Leimzy;
  font-size: 20pt;
}
